<!-- _includes/tritonrobotics.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if tritonrobotics.redirect -%}
  <a href="{{ tritonrobotics.redirect }}">
    {%- else -%}
    <a href="{{ tritonrobotics.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if tritonrobotics.img %}
        {%- include figure.html
          path=tritonrobotics.img
          alt="tritonrobotics thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ tritonrobotics.title }}</h2>
          <p class="card-text">{{ tritonrobotics.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if tritonrobotics.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ tritonrobotics.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if tritonrobotics.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ tritonrobotics.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>